@model PaginatedList<Book>
<table class="table">

    <a asp-area="Manage" asp-controller="Book" asp-action="Create"
       style="margin-bottom: 20px; margin-left: 40px;"
       class="btn btn-success">Create New</a>


    @{
        int count = 1;
    }
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Image</th>
            <th scope="col">Title</th>
            <th scope="col">Created Date</th>
            <th scope="col">Updated Date</th>
            <th scope="col">Settings</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Book in Model)
        {
            <tr>
                <th scope="row">@count</th>
                <td><img style="width:60px;height:70px" src="~/assets/image/products/@Book.BookImages.FirstOrDefault(x=>x.Status==true)?.Name" alt=""></td>
                <td>@Book.Title</td>
                <td>@Book.CreateDate.ToString("dd MMMM, yyyy")</td>
                <td>@Book.UpdateDate?.ToString("dd MMMM, yyyy")</td>
                <td>
                    <a asp-area="Manage" asp-controller="Book" asp-action="Edit" asp-route-id="@Book.Id" class="btn btn-primary"> Edit </a>
                    <a asp-area="Manage" asp-controller="Book" asp-action="Detail" asp-route-id="@Book.Id" class="btn btn-primary"> Detail </a>
                    <a asp-area="Manage" asp-controller="Book" asp-action="Delete" asp-route-id="@Book.Id" class="btn btn-danger delete"> Delete </a>
                </td>
            </tr>
            count++;
        }
        @section scripts {
            <script>
                              $(document).ready(function () {
                    $('.delete').on('click', function (e) {
                        e.preventDefault();

                        Swal.fire({
                            title: "Are you sure?",
                            text: "You won't be able to revert this!",
                            icon: "warning",
                            showCancelButton: true,
                            confirmButtonColor: "#3085d6",
                            cancelButtonColor: "#d33", 
                            confirmButtonText: "Yes, delete it!"
                        }).then((result) => {
                            if (result.isConfirmed) {
                                var url = $(this).attr('href');
                                fetch(url)
                                    .then(response => {
                                        if (response.ok) {
                                            Swal.fire({
                                                title: "Deleted!",
                                                text: "Your file has been deleted.",
                                                icon: "success"
                                            });
                                        setTimeout(function() {
                                                     window.location.reload();
                                                              }, 1000);
                                        } else {
                                            Swal.fire({
                                                icon: "error",
                                                title: "Oops...",
                                                text: "Something went wrong!",
                                            });
                                        }
                                    })
                            }
                        });
                    });
                });

            </script>

        }

    </tbody>
</table>
<div style="margin:400px;margin-top:50px" class="container">
    <div class="row">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li class="page-item @(Model.HasPrev ? "" : "disabled")">
                    <a class="page-link" asp-action="Index" asp-route-page="@(Math.Max(1, Model.CurrentPage - 1))">Previous</a>
                </li>
                @for (int i = 1; i <= Model.PageCount; i++)
                {
                    <li class="page-item @(Model.CurrentPage == i ? "active" : "")">
                        <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
                    </li>
                }
                <li class="page-item @(Model.HasNext ? "" : "disabled")">
                    <a class="page-link" asp-action="Index" asp-route-page="@(Math.Min(Model.PageCount, Model.CurrentPage + 1))">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
